<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TAEKWONDO GOAT</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a href="/home">Home</a>
        <a href="/course">Khóa Học</a>
        <a href="/training">Lộ Trình Đào Tạo</a>
        <a href="/coach">Huấn Luyện Viên</a>
    </div>
    <div class="form-add-new">
        <form action="/course/add-course" method="POST">
            <fieldset>
                <legend>Them Khoa Hoc</legend>
                <div>
                    <div class="input-group">
                        <label>Khóa Học:</label>
                        <input type="text" name="khoahoc" required />
                    </div>

                    <div class="input-group">
                        <label>Mô Hình:</label>
                        <input type="text" name="mohinh" required />
                    </div>

                    <div class="input-group">
                        <label>Thời Gian:</label>
                        <input type="text" name="thoigian" required />
                    </div>

                    <div class="input-group">
                        <label>Cơ Sở:</label>
                        <input type="text" name="coso" required />
                    </div>

                    <div class="input-group">
                        <label>Học Phí:</label>
                        <input type="text" name="sotien" required />
                    </div>
                    <button>Save</button>
                </div>
            </fieldset>
        </form>
    </div>
</body>

</html>