<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TAEKWONDO GOAT</title>
    <link rel="stylesheet" href="/css/coach.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/course">Khóa Học</a>
        <a href="/training">Lộ Trình Đào Tạo</a>
        <a class="active" href="/coach">Huấn Luyện Viên</a>
    </div>
    <div class="container">
        <div class="sidebar">
            <ul>
                <li><a href="#">CSS HOME</a></li>
                <li><a href="#">CSS Introduction</a></li>
                <li><a href="#">CSS Syntax</a></li>
                <li><a class="active" href="/coach">HLV</a></li>
                <li><a class="active" href="/course">Khóa Học</a></li>
            </ul>
        </div>
        <div class="content">
            <h2>Which CSS selector is correct?</h2>
            <p>...</p>
        </div>
    </div>

</body>

</html>